<div class="container" style="margin-top: 20px;">    
    <div class="panel panel-primary">
        <div class="panel-heading">Foto</div>
        <div class="panel-body">
            <picture>
                <% if (persona.foto == 'user.png') { %>
                <img src="/images/<%= persona.foto %>" width="100"/>
                <% } else { %>
                <img src="/uploads/<%= persona.foto %>" width="100"/>
                <% } %>
            </picture>
        </div>

        <div class="panel panel-danger">
            <div class="panel-heading">Foto</div>
            <div class="panel-body">
                <form enctype="multipart/form-data" method="POST" action="/administracion/perfil/foto">
                    <input type="hidden" value="<%= persona.external_id %>" name="external"/>
                    <input type="file" name="archivo"/>
                    <input type="submit" value="SUBIR"/>
                </form>
            </div>
        </div>
    </div>
</div>
